.page {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ebeef3;
    min-height: calc(100vh - 80px);
}

.form {
    margin: 59px auto;
    padding: 48px 32px;
    width: 384px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  
    border: 1px solid #d9d9d9;
    box-shadow: 0 22px 106px rgba(0, 0, 0, 0.07), 0 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
      0 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
      0 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
    border-radius: 6px;
}
  
.title {
    margin: 0;
    align-self: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.3px;
    color: #262626;
}
  
.inputsList {
    list-style: none;
    padding: 0;
    margin: 21px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
  
.inputsItem {
    display: flex;
    flex-direction: column;
}
  
.label {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #262626;
}
  
.input {
    padding-left: 12px;
    font-size: 16px;
    line-height: 24px;
    height: 40px;
    color: #262626;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
  
    &::placeholder {
      color: #bfbfbf;
    }
}
  
.agreement {
    border-top: 1px solid #e8e8e8;
    padding-top: 8px;
    display: flex;
    color: #595959;
}
  
.checkbox {
    margin-top: 4px;
    margin-right: 8px;
    cursor: pointer;
}
  
.checkLabel {
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
  
.submit {
    margin-top: 21px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
    background-color: #1890ff;
    border: 1px transparent solid;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      border: 1px #1890ff solid;
      background-color: #fff;
      color: #1890ff;
    }
}
  
.signInLabel {
    margin-top: 8px;
    align-self: center;
    font-size: 12px;
    line-height: 20px;
    color: #8c8c8c;
}
  
.signIn {
    text-decoration: none;
    color: #1890ff;
}
  
.error {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    color: #f5222d;
}
  
.disabledBtn {
    color: #fff;
    background-color: #d9d9d9;
    border: 1px transparent solid;
  
    &:hover {
      border: 1px #d9d9d9 solid;
      background-color: #d9d9d9;
      color: #fff;
    }
}